body {
    margin:0;
    padding:0;
}

/* Nav styling */

nav {
    background-color: #fc95cd;
}

nav img {
    width:30%;
    margin-left: 10%;
}


.btn-outline-success {
    border: none;
    color: lightgrey;
}

.btn-outline-success:hover {
    background-color: #95ccee;
}

/*end of Nav Styling */

/* Topic Menu */

.topics {
    display: flex;
    justify-content: space-around;
    margin: .5em;
}

.topics div {
    background-color: #eea058;
    color: #d9d9d9;
    padding: .5em;
    border-radius: 10px;
}

/* Main container */
.grid-container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr 20vw;
    
}

.sidebar {
    grid-area: 1/2/4/3;
    border: 1px solid aqua;
}

.banner {
    width:100%;
}

.banner .blog-photo {
    width:100%;
    height: 60vh;
    background-image: url(./assets/black-joy.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.merge-containers {
    display: flex;
    justify-content: space-between;
}

.merge-containers .blog {
    width: 25vw;
}

iframe, .merge-containers .blog-photo {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    margin-bottom: 2%;
}

.second .blog-photo {
    background-image: url(./assets/snowboarder.jpg);
    background-position:center 25%;
    background-size: cover;
}

.third .blog-photo {
    background-image:url(./assets/scandinavian-biolabs-ooh5gpuIAVk-unsplash.jpg);
    background-position:center 25%;
    background-size: cover;
}

.blog-text {
    padding: .5em;
}