body {
  margin: 0;
  padding: 0;
}

/* Nav styling */
nav {
  background-color: #e471b0;
  margin-bottom: .5em;
  padding-right: 1%;
  padding-left: 2%;
}

form {
  width: 40vw;
}

.navbar-brand img {
  width: 30%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-1, .icon-2, .icon-3 {
  width: 35px;
  height: 35px;
}

.hover-background {
  width: 65px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  border-radius: 5px;
}

.hover-background:hover {
  background-color: #95ccee;
}

.icon-1 {
  background-image: url(./assets/clear-home-two.png);
  background-size: cover;
  background-position: center;
}

.icon-2 {
  background-image: url(./assets/clear-mail-two.png);
  background-size: cover;
  background-position: center;
}

.icon-3 {
  background-image: url(./assets/clear-notification.png);
  background-size: cover;
  background-position: center;
}

.btn-outline-success {
  border: none;
  color: lightgrey;
}

.btn-outline-success:hover {
  background-color: #95ccee;
}

/*end of Nav Styling */
/* Topic Menu */
.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: .5em;
}

.topics div {
  color: #eea058;
  font-weight: 500;
  width: 5vw;
  text-align: center;
  border-radius: 5px;
}

.topics div:hover {
  background-color: #95ccee;
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

/* Main container */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  -ms-grid-columns: 1fr 20vw;
      grid-template: repeat(3, auto)/1fr 20vw;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/4/3;
  padding: 10%;
}

.advice .blog-photo {
  background-image: url(./assets/aunties.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  margin-top: .5em;
}

.banner .blog-photo {
  width: 100%;
  height: 60vh;
  background-image: url(./assets/black-joy.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.merge-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.merge-containers .blog {
  width: 25vw;
}

iframe, .merge-containers .blog-photo, .advice .blog-photo {
  width: 100%;
  height: 15rem;
  border-radius: 10px;
  margin-bottom: 2%;
}

.second .blog-photo {
  background-image: url(./assets/snowboarder.jpg);
  background-position: center 25%;
  background-size: cover;
}

.third .blog-photo {
  background-image: url(./assets/scandinavian-biolabs-ooh5gpuIAVk-unsplash.jpg);
  background-position: center 25%;
  background-size: cover;
}

.blog-text {
  padding: .5em;
}
/*# sourceMappingURL=main.css.map */