body {
    margin: 0;
    padding: 0;
}

/* Nav styling */

nav {
    background-color: #e471b0;
    margin-bottom: .5em;
    padding-right: 1%;
    padding-left: 2%;
}

form {
    width: 40vw;
}

.navbar-brand img {
    width: 30%;

}

.wrapper {
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.icon-1,
.icon-2,
.icon-3,
.avatar
{
    width: 30px;
    height: 30px;
}

.hover-background {
    width: 65px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 5px;
}

.hover-background:hover {

    background-color: #95ccee;
}

.avatar {
    background-image: url(./assets/GlobeMe.JPG.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.icon-1 {
    background-image: url(./assets/clear-home-two.png);
    background-size: cover;
    background-position: center;

}

.icon-2 {
    background-image: url(./assets/clear-mail-two.png);
    background-size: cover;
    background-position: center;
}

.icon-3 {
    background-image: url(./assets/clear-notification.png);
    background-size: cover;
    background-position: center;
}



.btn-outline-success {
    border: none;
    color: lightgrey;
}

.btn-outline-success:hover {
    background-color: #95ccee;
}

/*end of Nav Styling */

/* Topic Menu */

.topics {
    display: flex;
    justify-content: space-around;
    margin-top: .8em;
    
}

.topics div {
    color: #eea058;
    font-weight: 500;
    width: 5vw;
    text-align: center;
    border-radius: 5px;
}

.topics div:hover {
    background-color: #95ccee;
    color: whitesmoke;
}

a:link {
    text-decoration: none;
}

/* Main container */
.grid-container {
    margin-left: 1%;
    display: grid;
    grid-template: repeat(3, auto) / 1fr 20vw;
    gap: 1em;
    

}

.sidebar {
    grid-area: 1/2/4/3;
    padding: 10%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-photo {
    width:100%;
    height: 13rem;
    border-radius: 10px;
    
}

.eye-bleach .sidebar-photo {
    background-image: url(./assets/quokka1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.advice .sidebar-photo{
    background-image: url(./assets/aunties.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.banner {
    width: 100%;
    margin-top: .5em;
}

.banner .blog-photo {
    width: 100%;
    height: 60vh;
    background-image: url(./assets/pink-smiles.jpg);
    background-size: cover;
    background-position: center 15%;
    border-radius: 10px;

}

.merge-containers {
    display: flex;
    justify-content: space-between;
}

.merge-containers .blog {
    width: 25vw;
}

iframe,
.merge-containers .blog-photo,
.advice .blog-photo , 
.about-me .blog-photo
{
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    margin-bottom: 2%;
}

.second .blog-photo {
    background-image: url(./assets/snowboarder.jpg);
    background-position: center 25%;
    background-size: cover;
}

.third .blog-photo {
    background-image: url(./assets/scandinavian-biolabs-ooh5gpuIAVk-unsplash.jpg);
    background-position: center 25%;
    background-size: cover;
}

.blog-text {
    padding: .5em;
}

/* styling for about-me*/

.hallie-container {
    width: 100%;
    height: 100vh;
    background: rgb(148, 32, 95);
    background: linear-gradient(257deg, rgba(148, 32, 95, 1) 0%, rgba(252, 149, 205, 1) 100%);
    display: flex;
    align-items: flex-end;
}

.hallie {
    background-color: #CFCFCF;
    width: 550px;
    height: 90vh;
    background-image: url(./assets/GlobeMe.JPG.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    ;
}